$main-color:      #11749e;
$hover-color:     #2e85aa;
$text-color:      #ffffff;
$text-color-two:  #222222;
$tablet:          768px;
$desktop:         992px;
$pc:              1200px;

%animation {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

 