.copyright {
    padding: 50px 0px 42px;

    &__text {
        font-family: 'Roboto Regular';
        color: $text-color;
        font-size: 13px;

        @media (max-width: $tablet) {
            text-align: center !important;
        }
    }
}
