@font-face {
    font-family: 'Gotham Bold';
    src: url('../../assets/font/Gotham/GothamBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../../assets/font/Gotham/GothamMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../../assets/font/Gotham/GothamBook.ttf');
    font-weight: normal;
    font-style: normal;
}
