@font-face {
    font-family: 'Roboto Bold';
    src: url('../../assets/font/Roboto/Roboto-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../../assets/font/Roboto/Roboto-Condensed-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../../assets/font/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
