.advantages {
    background-image: url(../../assets/img/bg_advantages.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $text-color;
    padding: 100px 0px;

    @media (max-width: $tablet) {
        padding: 40px 0px;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
    }

    &__photo {
        display: block;
        margin: 0 auto;

        @media (max-width: $tablet) {
            margin: 20px auto 0px;
        }
    }

    &__title {
        font-size: 25px;
    }
}
