.articles {

    &__item {
        position: relative;
        overflow: hidden;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
        }

        &:nth-child(odd) {
            background-color: $text-color-two;
            color: $text-color;

            .row {
                flex-direction: row;
            }

            .articles__row--content {
                padding-right: 70px;

                @media (max-width: $desktop) {
                    padding-right: 20px;
                }
            }

            .articles__photo {
                left: 0px;
            }
        }

        &:nth-child(even) {
            background-color: #f3f3f3;
            color: $text-color-two;

            .row {
                flex-direction: row-reverse;
            }

            .articles__row--content {
                padding-left: 70px;

                @media (max-width: $desktop) {
                    padding-left: 20px;
                }
            }

            .articles__photo {
                right: 0px;
            }
        }
    }

    &__row {
        position: relative;

        &--content {
            padding: 100px 0px;

            @media (max-width: $desktop) {
                padding: 35px 20px;
            }
        }
    }

    &__photo {
        width: 50vw;
        max-width: initial;
        position: absolute;

        @media (max-width: $desktop) {
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            object-position: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        font-family: 'Gotham Book';
    }

    &__date, &__category {
        font-family: 'Gotham Book';
        font-size: 13px;
    }

    &__date {

        &:after {
            content: "|";
            margin: 0px 12px;
        }
    }

    &__title {
        font-size: 25px;
    }
}
