.blog {
    background-color: #ffffff;
    text-align: center;

    &__headline {
        color: $text-color-two;

        &:before {
            content: "B";
            color: $text-color-two;
        }
    }

    &__title {
        color: $main-color;
        margin: 30px 0px 15px;
    }

    &__text {
        text-align: center;
    }

    &__item {
        margin-bottom: 90px;

        @media (max-width: $tablet) {
            margin-bottom: 40px;
        }
    }
}
