.contact-us {
    background-image: url(../../assets/img/bg_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;

    @media (max-width: $tablet) {
        padding-top: 10px;
    }

    &__headline {
        color: $text-color;

        &:before {
            content: "C";
            color: $text-color;
        }
    }

    &__title {
        color: $main-color;
    }

    &__form {
        margin: 55px 0px 110px;

        @media (max-width: $desktop) {
            margin: 5px 0 50px;
        }
    }
}
