.feature {
    background-color: $main-color;

    &__headline {
        color: $text-color;

        &:before {
            content: "W";
            color: $text-color;
        }
    }

    &__item {
        text-align: center;
        color: $text-color;
        margin: 45px 0px 130px;

        @media (max-width: $desktop) {
            margin: 35px 0 40px;
        }

        @media (max-width: $tablet) {
            margin: 25px 0 20px;
        }
    }

    &__title {
        margin: 16px 0 20px;
    }

    &__icon {
        background: $hover-color;
        border-radius: 50%;
        padding: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        cursor: pointer;

        .fa {
            color: $text-color;
            font-size: 30px;
        }

        &:after {
            content: "";
            border-radius: 50%;
            background: $main-color;
            width: 0px;
            height: 0px;
            position: absolute;
            z-index: 0;
            @extend %animation;
            z-index: -1;
        }

        &:hover {

            &:after {
                width: 100%;
                height: 100%;
            }
        }

        @media (max-width: $desktop) {
            width: 90px;
            height: 90px;
        }
    }
}
