.form {

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        margin-bottom: 30px;

        &--center {
            justify-content: center;
        }
    }

    &__field {

        &--30 {
            width: 31.2%;

            @media (max-width: $tablet) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    &__control {
        width: 100%;
        padding: 10px 18px;
        outline: none;
        background: none;
        border: 1px solid $text-color;
        font-family: 'Gotham Book';
        font-size: 15px;
        color: $text-color;

        &::placeholder {
            color: $text-color;
        }

        &:focus {
            border-color: $main-color;
        }
    }

    &__area {
        min-height: 150px;
    }
}
