.note {
    background-color: $main-color;
    padding: 40px 0px 60px;

    &__icon {
        color: $text-color;
        font-size: 90px;

        @media (max-width: $desktop) {
            width: 100%;
            text-align: center;
        }
    }

    &__text {
        color: $text-color;
        font-size: 15px;
        font-family: 'Gotham Book';
        max-width: 77%;
        margin-left: 26px;

        @media (max-width: $desktop) {
            max-width: 100%;
            margin-left: 0px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    }
}
