.progress {

    &__content--main {

        .progress {
            height: 40px;
            background: none;
            border-radius: 0px;
            margin: 24px 0px 0px;

            @media (max-width: $tablet) {
                margin: 15px 0 0;
            }
        }

        .progress-bar {
            text-transform: uppercase;
            text-align: left;
            padding: 0px 20px;
            font-family: 'Gotham Medium';
            font-size: 15px;
            background-color: $main-color;

            @media (max-width: $tablet) {
                font-size: 13px;
                padding: 0 10px;
            }
        }
    }
}
