.scroll {
    font-family: 'Open Sans Regular';
    color: $text-color;
    font-size: 13px;
    position: absolute;
    bottom: 10%;
    cursor: pointer;

    &:hover {
        color: $text-color;
        text-decoration: none;
    }

    &__icon {
        border-radius: 50%;
        border: 1px solid;
        text-align: center;
        font-size: 37px;
        width: 64px;
        height: 64px;
        margin: 20px auto 0px;
        @extend %animation;

        @media (max-width: $tablet) {
            width: 45px;
            height: 45px;
            font-size: 30px;
            margin: 12px auto 0;
        }

        .fa {
            line-height: 60px;

            @media (max-width: $tablet) {
                line-height: 45px;
            }
        }

        &:hover {
            background: $text-color;
            color: $text-color-two;
        }
    }
}
