.team {
    background-color: #ffffff;
    margin-bottom: 60px;

    @media (max-width: $tablet) {
        margin-bottom: 10px;
    }

    &__headline {
        color: $text-color-two;

        &:before {
            content: "T";
            color: $text-color-two;
        }
    }

    &__title {
        color: $main-color;
    }

    &__name {
        color: $main-color;
    }

    &__career {
        font-family: 'Gotham Medium';
    }

    &__item {
        cursor: pointer;

        &:hover {

            .team__info {
                top: -80px;
            }
        }
    }

    &__info {
        background: white;
        padding: 15px 20px;
        text-align: center;
        position: relative;
        top: -30px;
        margin: 0px 25px;
        @extend %animation;
    }

    &__photo {
        display: block;
        margin: 0 auto;
    }
}
