.headline {
    font-family: 'Gotham Medium';
    text-transform: uppercase;
    text-align: center;
    font-size: 37.55px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    padding: 150px 0px 85px;

    &:before {
        font-family: 'Roboto Condensed Bold';
        position: absolute;
        left: 0px;
        right: 0px;
        opacity: 0.18;
        font-size: 247.18px;
        text-align: center;
        margin-top: -6px;

        @media (max-width: $tablet) {
            font-size: 135px;
        }
    }

    @media (max-width: $tablet) {
        font-size: 22px;
        padding: 50px 10px 45px;
    }
}

.subline {
    font-family: 'Gotham Book';
    text-align: center;
    font-size: 30px;
    margin: 10px 0px 60px;

    @media (max-width: $tablet) {
        font-size: 17px;
        margin: 10px 10px 30px;
    }
}

.content {

    &__title {
        font-family: 'Gotham Medium';
        font-size: 17px;
        text-transform: uppercase;
    }

    &__text, &__text p {
        font-size: 14.5px;
        font-family: 'Gotham Book';
    }
}

.photo {
    max-width: 100%;
}

.btn {
    font-family: 'Gotham Medium';
    font-size: 24px;
    padding: 9px 65px 16px;
    outline: none;
    border: 0px;
    border-radius: 0px;
    position: relative;
    z-index: 1;
    text-transform: uppercase;

    &:before {
        content: "";
        position: absolute;
        right: 0px;
        width: 0px;
        height: 100%;
        top: 0px;
        z-index: -1;
        @extend %animation;
    }

    &--blue {
        color: $text-color;
        background-color: $main-color;

        &:before {
            background-color: darken( $main-color, 10% );
        }

        &:hover {
            color: $text-color;

            &:before {
                width: 100%;
            }
        }
    }
}


.logo {

    @media (max-width: $tablet) {
        width: 50px;
    }
}
