.screen {

    &--first {
        background-image: url(../../assets/img/first_screen.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        max-height: 1000px;
        min-height: 300px;
    }
}
