.screen {

    &__title {
        color: #f5f5f5;
        font-size: 152.54px;
        text-align: center;
        font-family: 'Gotham Bold';
        text-transform: uppercase;
        line-height: 1;

        @media (max-width: $pc) {
            font-size: 130px;
        }

        @media (max-width: $desktop) {
            font-size: 80px;
        }

        @media (max-width: $tablet) {
            font-size: 40px;
        }
    }

    &__subtitle {
        color: $main-color;
        font-family: 'Gotham Medium';
        letter-spacing: 21.5px;
        font-size: 24.79px;
        padding-left: 25px;
        text-transform: uppercase;
        text-align: center;

        @media (max-width: $pc) {
            letter-spacing: 19.5px;
            font-size: 22px;
        }

        @media (max-width: $desktop) {
            letter-spacing: 15px;
            font-size: 20px;
        }

        @media (max-width: $tablet) {
            letter-spacing: 3px;
            font-size: 12px;
            padding-left: 0px;
        }
    }

    &__text {
        height: calc(100vh);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        max-height: 1000px;
        min-height: 300px;
    }
}
