.page-header {
    @extend %animation;
    padding-top: 20px;

    @media (max-width: $desktop) {
        padding-top: 10px;
    }

    &--fixed {
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 2;
    }

    &--dark {
        background: rgba(0, 0, 0, 0.5);
        padding-top: 10px;

        .nav__link {
            padding-bottom: 20px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        padding: 0px;

        .navbar {

            &-brand {
                display: none;

                @media (max-width: $desktop) {
                    display: block;
                    color: $text-color;
                }
            }

            &-toggler {
                cursor: pointer;

                .fa {
                    color: $text-color;
                }
            }

            @media (max-width: $desktop) {

                &-collapse {
                    position: absolute;
                    left: 0px;
                    margin-left: -53vw;
                    width: 101vw;
                    top: 55px;
                    background: rgba(0, 0, 0, 0.7);
                    z-index: 3;

                    .nav__list {
                        padding: 0px;

                        li {
                            width: 100%;
                            padding: 0px;

                            .nav__link {
                                padding: 7px 0px;
                                width: 100%;
                                text-align: center;
                                border-bottom: 0px;
                            }

                            .social__link {
                                width: initial;
                                margin: 0px 15px;
                            }

                            &:last-child {
                                padding: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__middle {
        border-bottom: 1px solid rgba(255, 255, 255, 0.38);
    }

    @media (max-width: $desktop) {

        .row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
            padding-bottom: 10px;
        }
    }
}
