.nav {

    &__link {
        color: #ffffff;
        font-family: 'MyriadPro';
        font-size: 20px;
        padding: 30px 12px;
        border-bottom: 6px solid transparent;
        @extend %animation;

        @media (max-width: $pc) {
            padding: 30px 5px;
        }

        &--active {
            border-bottom: 6px solid $main-color;
        }

        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        line-height: 1.4;
        padding: 0px 7px;

        &:last-child {
            padding: 0px 0px 0px 20px;
            border-right: 0px;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        margin: 0px;
    }
}
